<!--div class="" style="height: 200px; padding: 20px 0;border-top: 1px solid #007bff"-->
    <div class="container container-1">
        <!--div id="s2Parallax1" class="s2Parallax" style="top: 0"></div-->
        <!--div id="s2Parallax2" class="s2Parallax" style="top: 0"></div-->
        <div class="row" style="margin: 5px 0">
            <h1 class="h1 h1-sm h1-md mx-auto">Asociaciones Medicas</h1>
        </div>
        <div class="row" style="margin: 5px 0 25px">
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="http://www.aaq.org.ar" title="Asociacion Argentina de Quemaduras" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-1.png" ></a>
            </div>
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="http://www.medmun.org.ar" title="Asociacion de Medicos Municipales de la Ciudad de Bs. As" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-2.jpg" ></a>
            </div>
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="https://www.ama-med.org.ar" title="Asociacion Medica Argentina" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-3.png" ></a>
            </div>
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="http://www.sacper.org.ar/www" title="Sociedad Argentina de Cirugia Plastica, Estetica y Reparadora" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-4.jpg" ></a>
            </div>
        </div>
        <div class="row" style="margin: 5px 0 25px">
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="https://www.argentina.gob.ar/salud" title="Ministerio de Salud de la Nacion" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-5.jpg" ></a>
            </div>
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="http://www.unt.edu.ar/" title="Universidad de tucuman" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-6.png" ></a>
            </div>
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="http://www.scpba.org.ar" title="Sociedad de Cirugia Plastica de Buenos Aires" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-7.jpg" ></a>
            </div>
            <div class="col-md-3 col-sm-3 col-6" style="text-align: center">
                <a href="http://hospitalargerich.org.ar/" title="Hospital Argerich" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-8.png" ></a>
            </div>
            <!--div class="col-md-3 col-sm-3 col-3">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/logo-9.png" ></a>
            </div-->
        </div>

    </div>
<!--/div-->