<div class="container" style="height: 200px; background-color: #EEEEEE;padding: 20px 0;border-top: 1px solid #007bff">
    <div class="row" style="margin: 5px 0">
        <h1 class="mx-auto">ASOCIACIONES MEDICAS</h1>
    </div>
    <div class="row" style="margin: 5px 0">
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>
        <div class="col-md-1">
            <a href="" title="fd" ><img src="http://www.fmed.uba.ar/img/top_home.gif"></a>
        </div>

    </div>
</div>