<!--div class="" style="height: 200px; padding: 20px 0;border-top: 1px solid #007bff"-->
    <div class="container" style="height: 200px; padding: 20px 0;border-top: 1px solid #007bff;background-color: #FFFFFF;">
        <div class="row" style="margin: 5px 0">
            <h1 class="mx-auto">ASOCIACIONES MEDICAS</h1>
        </div>
        <div class="row" style="margin: 5px 0">
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
        </div>
        <div class="row" style="margin: 5px 0">
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-1.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-2.png" height="40"></a>
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <a href="" title="fd" ><img src="http://www.mateomaneff.com.ar/images/slider/link-3.png" height="40"></a>
            </div>
        </div>
    </div>
<!--/div-->