<div class="container" style="top:0!important;padding: 0;">
    <div class="row" style="margin-left: 0; margin-right: 0">
        <div id="slider-container" style="height: 600px;" class="">
            <div id="slider-carrousel">
                <!--<img [src]="url" alt="" >-->
                <div id="slider-01" *ngIf="visible == 1" [@enterAnimation]="visible == 1">
                    <!--<img [src]="'http://bayresnoproblem.com.ar/images/'+items[items.length-1].fotos[0].nombre" alt="">-->
                    <img [src]="items[0].src" alt="">
                    <div class="slider-descr">
                        <h1>{{items[items.length-1].nombre}}</h1>
                        <span>{{items[items.length-1].descripcion | descLength}}</span>

                        <div class="slider-descr-actions">
                            <a class="btn btn-med btn-primary" [routerLink]="['/main']" >Leer Mas</a>
                        </div>
                    </div>
                </div>
                <div id="slider-02" *ngIf="visible == 2"  [@enterAnimation]="visible == 2">
                    <img [src]="items[1].src" alt="">
                    <div class="slider-descr">
                        <h1>{{items[items.length-2].nombre}}</h1>
                        <span>{{items[items.length-2].descripcion | descLength}}</span>
                        <div class="slider-descr-actions">
                            <a class="btn btn-med btn-primary" [routerLink]="['/main']" >Leer Mas</a>
                        </div>
                    </div>
                </div>
                <div id="slider-03" *ngIf="visible == 3" [@enterAnimation]="visible == 3">
                    <img [src]="items[2].src" alt="">
                    <div class="slider-descr">
                        <h1>{{items[items.length-3].nombre}}</h1>
                        <span>{{items[items.length-3].descripcion | descLength}}</span>
                        <div class="slider-descr-actions" >
                            <a class="btn btn-med btn-primary" [routerLink]="['/main']" >Leer Mas</a>
                        </div>
                    </div>
                </div>
                <div id="slider-04" *ngIf="visible == 4" [@enterAnimation]="visible == 4">
                    <img [src]="items[3].src">
                    <div class="slider-descr">
                        <h1>{{items[items.length-4].nombre}}</h1>
                        <span>{{items[items.length-4].descripcion | descLength}}</span>
                        <div class="slider-descr-actions">
                            <a class="btn btn-med btn-primary" [routerLink]="['/main']" >Leer Mas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-nav">
                <div (click)="visible = 1; interval()" [ngClass]="{'slider-nav-selected': visible == 1}"></div>
                <div (click)="visible = 2; interval()" [ngClass]="{'slider-nav-selected': visible == 2}"></div>
                <div (click)="visible = 3; interval()" [ngClass]="{'slider-nav-selected': visible == 3}"></div>
                <div (click)="visible = 4; interval()" [ngClass]="{'slider-nav-selected': visible == 4}"></div>
            </div>
        </div>
    </div>
</div>
