<div class="container container-1" >
    <div class="row" style="margin: 0">
        <h1 class="h1 h1-sm h1-md mx-auto" style="margin-top: 4%;">{{titulo}}</h1>
    </div>
    <!--div class="row" style="margin: 0">
        <div class="form-group">
            <label style="margin-left: 25%;" >Tipo de Tratamiento</label>
            <select  name="" id="tipo_tratamiento_id" [(ngModel)]="tipo_tratamiento_id"
                     class="form-control" style="margin-left: 25%;">
                <option value="1">Cirugia Facial</option>
                <option value="2">Cirugia Mamaria</option>
                <option value="3">Cirugia Corporal</option>
                <option value="4">Cirugia Reparadora</option>
                <option value="5">Tratamiento No Quirurgico</option>
            </select>
        </div>
    </div-->
    <div class="row" style="margin:20px 20px 40px" *ngFor="let item of tratamientos; let even = even; let odd = odd">
        <div class="col-md-4" *ngIf="even">
            <img src="http://www.mateomaneff.com.ar/images/{{item.foto}}" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-8" *ngIf="even">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{item.titulo}}</h2>
                </div>
                <div class="col-md-12">
                    <{{item.detalles}}>
                    <!--div [innerHTML]="item.detalles | keepHtml"></div-->
                </div>
            </div>
        </div>
        <div class="col-md-8 flex-last" *ngIf="odd">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{item.titulo}}</h2>
                </div>
                <div class="col-md-12">
                    <{{item.detalles}}>
                </div>
            </div>
        </div>
        <div class="col-md-4 flex-first" *ngIf="odd">
            <img src="http://www.mateomaneff.com.ar/images/{{item.foto}}" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>