<div class="container container-1" >
    <div class="row" style="margin: 0">
        <h1 class="h1 h1-sm h1-md mx-auto" style="margin: 0;">Noticias</h1>
    </div>
    <div class="row" style="margin:20px 20px 40px" *ngFor="let item of noticias; let even = even; let odd = odd">
        <div class="col-md-4" *ngIf="even">
            <img src="http://www.mateomaneff.com.ar/images/{{item.foto}}" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-8" *ngIf="even">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{item.titulo}}</h2>
                </div>
                <div class="col-md-12">
                    <div [innerHTML]='item.detalles'></div>
                    <!-- {{item.detalles}} -->
                </div>
            </div>
        </div>

        <div class="col-md-8" *ngIf="odd">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{item.titulo}}</h2>
                </div>
                <div class="col-md-12">
                    <div [innerHTML]='item.detalles'></div>
                    <!-- {{item.detalles}} -->
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="odd">
            <img src="http://www.mateomaneff.com.ar/images/{{item.foto}}" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>

<button [routerLink]="['/principal']" class="backToTop btn-backToTop" *ngIf="!top">
    Inicio
</button>
