<!--div class="" style="background-color: #EEEEEE;padding: 20px 0;border-top: 1px solid #007bff"-->
    <div class="container" style="background-color: #EEEEEE;padding: 20px 0;border-top: 4px solid #007bff">
        <div class="row" style="margin: 5px 0">
            <div class="col-md-12">
                <h1 class="text-center">CONTACTO</h1>
            </div>
            <div class="col-md-12">
                <p class="text-center">Escribinos y preguntanos lo que necesites, estamos esperando tu contacto!</p>
            </div>
        </div>
        <div class="row text-center" style="margin: 5px 0">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form [formGroup]="formContacto" novalidate id="contacto-items">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="nombre"
                                               id="nombre" placeholder="Nombre">
                                        <small class="text-danger">{{formErrors['nombre']}}</small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="mail"
                                               id="mail" placeholder="Mail">
                                        <small class="text-danger">{{formErrors['mail']}}</small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="lugar"
                                               id="lugar" placeholder="Pais/Ciudad">
                                        <small class="text-danger">{{formErrors['lugar']}}</small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="asunto"
                                               id="asunto" placeholder="Asunto">
                                        <small class="text-danger">{{formErrors['asunto']}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="5" class="form-control" formControlName="mensaje" placeholder="Escriba aquí su consulta"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="confirmar()" class="btn btn-primary mx-auto">Enviar consulta</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
<!--/div-->

<!--div id="contacto-main">
    <div id="contacto-title">
        <h1>CONTACTO</h1>
        <i class="fa fa-home" aria-hidden="true" style="cursor: pointer" (click)="goTo('principal')"></i>
    </div>
    <div class="contacto-items-title">
        <span>Escribinos y preguntanos lo que necesites, estamos esperando tu contacto!</span>
    </div>
    <form [formGroup]="formContacto" novalidate id="contacto-items">
        <div class="nombre-mail">
            <div class="form-group contacto-item">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="mail" placeholder="Email">
                <small class="text-danger">
                    {{formErrors['mail']}}
                </small>
            </div>
            <div class="form-group contacto-item">
                <label for="">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre"  placeholder="Nombre">
                <small class="text-danger">
                    {{formErrors['nombre']}}
                </small>
            </div>
        </div>
        <div class="form-group contacto-item">
            <label for="">Mensaje</label>
            <textarea rows="5" class="form-control" formControlName="mensaje" placeholder="Escriba aquí su consulta"></textarea>
        </div>
    </form>
    <div id="contacto-buttons">

        <button (click)="confirmar()">Enviar</button>
    </div>
    <div id="contacto-title">
        <h1>SUCURSALES</h1>
    </div>
    <div class="contacto-sucursales">
        <div><span>ALMAGRO</span><span>15-3041-2252</span><span>LUNES A SABADOS DE 10 A 20 HS</span><span>Independencia 4067</span></div>
        <div><span>FLORES</span><span>15-6676-2685</span><span>LUNES A SABADOS DE 10 A 20 HS</span><span>Rivadavia 7055 local 73</span></div>
        <div><span>ONCE</span><span>15-3049-8691</span><span>LUNES A SABADOS DE 10 A 20 HS</span><span>Catelli 90 5to H</span></div>
        <div><span>LINIERS</span><span>15-6676-2716</span><span>LUNES A SABADOS DE 10 A 20 HS</span><span>Rivadavia 11450 local 13</span></div>
    </div>
</div-->