<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of usuarios">
            <th scope="row">1</th>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.mail}}</td>
        </tr>
    </tbody>
</table>


<form [formGroup]="formUsuario" novalidate (ngSubmit)="create()" accept-charset="utf-8" action="#" class="simform">
    <div class="sminputs">
        <div class="input string full">
            <label class="string full" for="user-pw" [ngClass]="{'text-error': formErrors['nombre']}">Nombre * {{formErrors['nombre']}}</label>
            <input class="string full" maxlength="255" id="user-pw" formControlName="nombre" placeholder="Nombre" type="text" size="50"
            />

        </div>
    </div>
    <div class="sminputs">
        <div class="input string full">
            <label class="string full" for="user-pw" [ngClass]="{'text-error': formErrors['apellido']}">Nombre * {{formErrors['apellido']}}</label>
            <input class="string full" maxlength="255" id="user-pw" formControlName="apellido" placeholder="Nombre" type="text" size="50"
            />

        </div>
    </div>
    <div class="sminputs">
        <div class="input full">
            <label class="string full" for="user-name" [ngClass]="{'text-error': formErrors['mail']}">Email* {{formErrors['mail']}}</label>
            <input class="string full" maxlength="255" id="user-email" formControlName="mail" placeholder="Email" type="email" size="50"
            />

        </div>
    </div>
    <div class="sminputs">
        <div class="input full">
            <label class="string full" for="user-pw" [ngClass]="{'text-error': formErrors['password']}">Password * {{formErrors['password']}}</label>
            <input class="string full" maxlength="255" id="user-pw" formControlName="password" placeholder="Password" type="text" size="50"
            />

        </div>
    </div>

    <select  name="" id="rol_id" formControlName="rol_id">
        <option value="0">Admin</option>
        <option value="1">User</option>
    </select>

    <div class="simform__actions">
        <input class="sumbit" name="commit" type="submit" value="Crear" />
        <input class="sumbit" name="commit" type="submit" value="Editar" />
        <input class="sumbit" name="commit" type="submit" value="Borrar" />
    </div>
</form>