<div class="container" style="background-color:#FFFFFF;border: 1px solid #072146;margin-top: 15px;padding: 35px 20px"
     [ngClass]="{'toogleL': toogle}">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of usuarios" (click)='setUp(i)'>
                <th scope="row">1</th>
                <td>{{i.nombre}}</td>
                <td>{{i.apellido}}</td>
                <td>{{i.mail}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--div class="row">
        <input type="button" value="Crear" class="btn btn-primary btn-med" (click)="create($event)">
        <input type="button" value="Editar" class="btn btn-primary btn-med" (click)="edit($event)">
        <input type="button" value="Eliminar" class="btn btn-danger btn-med" (click)="delete($event)">
    </div-->
</div>

<div class="container" style="background-color:#FFFFFF;border: 1px solid #072146;margin-top: 15px;padding: 35px 20px"
     [ngClass]="{'toogleA': toogle}">
    <form [formGroup]="formUsuario" novalidate (ngSubmit)="save()" accept-charset="utf-8" action="#" class="simform">
        <div class="form-group">
            <label class="" for="user-pw" [ngClass]="{'text-error': formErrors['nombre']}">Nombre {{formErrors['nombre']}}</label>
            <input class="form-control" maxlength="255" id="user-pw" formControlName="nombre"
                   placeholder="Nombre" type="text" size="50" />
        </div>
        <div class="form-group">
            <label class="" for="user-pw" [ngClass]="{'text-error': formErrors['apellido']}">Nombre {{formErrors['apellido']}}</label>
            <input class="form-control" maxlength="255" id="user-pw" formControlName="apellido"
                   placeholder="Nombre" type="text" size="50" />
        </div>
        <div class="form-group">
            <label class="" for="user-name" [ngClass]="{'text-error': formErrors['mail']}">Email {{formErrors['mail']}}</label>
            <input class="form-control" maxlength="255" id="user-email" formControlName="mail"
                   placeholder="Email" type="email" size="50" />
        </div>
        <div class="form-group">
            <label class="" for="user-pw" [ngClass]="{'text-error': formErrors['password']}">Password {{formErrors['password']}}</label>
            <input class="form-control" maxlength="255" id="user-pw" formControlName="password"
                   placeholder="Password" type="text" size="50" />
        </div>
        <div class="form-group">
            <label class="" >Rol</label>
            <select  name="" id="rol_id" formControlName="rol_id" class="form-control">
                <option value="0">Admin</option>
                <option value="1">User</option>
            </select>
        </div>

        <div class="">
            <input class="btn btn-primary btn-med" name="commit" type="submit" value="Crear" />
            <input class="btn btn-primary btn-med" name="commit" type="submit" value="Editar" />
            <!--input class="btn btn-danger btn-med" name="commit" type="submit" value="Borrar" /-->
        </div>
    </form>
</div>


