<div class="container">
    <div class="row" style="margin: 5px 0">
        <h1 class="mx-auto">Acerca de...</h1>
    </div>
    <!--SE DEBE HACER UNA FUNCION RECURSIVA PARA IR CARGANDO TODAS LAS NOTICIAS DENTRO DE ESTE
    DIV CON ROW-->
    <div class="row" style="margin: 5px 0">
        <div class="col-md-4">
            <img src="http://www.mateomaneff.com.ar/images/slider/trat-5.jpg" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2>Doctor Blanco</h2>
                </div>
                <div class="col-md-12">
                    <p>El Dr. Esteban Blanco es Médico Especialista en Cirugía Plástica y Reparadora otorgado por el Ministerio de Salud de la Nación.
                        Miembro de la Sociedad de Cirugía Plástica de Buenos Aires (SCPBA).
                        Miembro de la Asociación Argentina de Quemaduras (AAQ).
                        Miembro de la Asociación Médica Argentina (AMA).
                        Miembro de la Asociación de Médicos Municipales (AMM).

                        Graduado de Médico en la Universidad Nacional de Tucumán, Argentina; continuó su formación en el año 2004, luego de aprobar el examen para el ingreso a la Residencia Médica, y por orden de merito, comienza su Especialización de Posgrado en Cirugía General y Cirugía Plástica & Reparadora en el Hospital Dr. Cosme Argerich – Gobierno de la Ciudad de Buenos Aires; donde realizó su sólida formación quirúrgica, operando distintos tipos de cirugías con variadas técnicas durante 5 años. En el ámbito privado cuenta con experiencia en quemados; formó parte del equipo de Quemados de un importante Centro Médico Especializado en Medicina Laboral y Accidentología con manejo de pacientes de distinta gravedad y patología. En Cirugía Estetica y Reparadora posee una amplia experiencia y un importante número de casos operados hasta la fecha. En el ámbito publico se desempeña actualmente como Médico Cirujano Plástico en el Hospital de Quemados de la Ciudad de Buenos Aires.

                        Mantiene su formación actualizada, asistiendo a Cursos, Simposios y Congresos Nacionales e Internacionales. Asiste todos los años al Curso de Actualización en Cirugía Plástica, Estética y Reparadora organizado por la Sociedad Argentina de Cirugía Plástica (SACPER); a las Sesiones Científicas donde se debaten temas de la Especialidad a cargo de la Sociedad de Cirugía Plástica de Buenos Aires (SCPBA); al Curso Anual Multidisciplinario en Quemaduras a cargo de la Asociación Argentina de Quemaduras (AAQ). En Marzo del 2012 asistió al "15th Annual Dallas Cosmetic Surgery Symposium" (Emerging Role of Fat in Breast and Facial Surgery – Where are We Going?) y al "29th Annual Dallas Rhinoplasty Symposium" (Advances & Controversies in Rhinoplasty), dictado en la Universidad Southwestern Medical Center, Dallas, Texas, USA. Este curso es organizado y dictado por referentes mundiales en el tema: Dr. Jack P. Gunter y el Dr. Rod J. Rohrich.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>