<div class="container container-1" style="" >
    <div class="row" style="margin: 0">
        <h1 class="h1 h1-sm h1-md mx-auto" style="margin: 0;">Acerca de...</h1>
    </div>
    <div class="row" style="margin: 5px 0">
        <div class="col-md-4">
            <img src="http://www.mateomaneff.com.ar/images/{{foto}}" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{titulo}}</h2>
                </div>
                <div class="col-md-12">
                    <div [innerHTML]='detalles'></div>
                </div>
            </div>
        </div>
    </div>
</div>
