@import '../app.component.scss';


h1{
  //font-family: 'Lobster', cursive;
}

.container-1 {
  max-width: 100%;
  padding: 20px 0;
  background: url('http://www.mateomaneff.com.ar/images/parallax1.png') repeat top center #d5f6f9;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
