<div class="" style="padding: 20px 0;border-top: 1px solid #007bff">
    <div class="container">
        <div class="row" style="margin: 5px 0">
            <div class="col-md-12">
                <h1 class="text-center">UBICACION</h1>
            </div>
        </div>
        <div class="row text-center" style="margin: 5px 0">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-12">
                        <p class="site-info">Buenos Aires</p>
                        <p class="site-info">Arenales 605, Piso 14, Olivos, Buenos Aires</p>
                        <p class="site-info">Tel:(011) 54347843</p>
                        <p class="site-info">info@drblanco.com.ar</p>
                    </div>
                    <div class="col-md-8 col-sm-12 col-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7121.1547379272715!2d-65.22840430311734!3d-26.82158256744342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c5cc0c10807%3A0x435d8e0d8f53d0a!2sDon+Bosco+2100%2C+T4000DLN+San+Miguel+de+Tucum%C3%A1n%2C+Tucum%C3%A1n!5e0!3m2!1ses!2sar!4v1494339271342" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-12">
                        <p class="site-info">Tucumán</p>
                        <p class="site-info">Magna Grupo Médico</p>
                        <p class="site-info">San Juan 417, C.P. 4000, San Miguel de Tucumán</p>
                        <p class="site-info">Tel:(0381) 4303087/4977178/4218683</p>
                        <p class="site-info">info@drblanco.com.ar</p>
                    </div>
                    <div class="col-md-8 col-sm-12 col-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7121.1547379272715!2d-65.22840430311734!3d-26.82158256744342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c5cc0c10807%3A0x435d8e0d8f53d0a!2sDon+Bosco+2100%2C+T4000DLN+San+Miguel+de+Tucum%C3%A1n%2C+Tucum%C3%A1n!5e0!3m2!1ses!2sar!4v1494339271342" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
