/* The version of Bourbon used in this Pen was 4.* */
@import '../../app.component.scss';

h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 90px;
  position: relative;
  line-height: 113px;
  padding: 15px 20px 0px 20px;
  max-width: 990px;
  margin: auto;
}

h3{
  text-align: center;
  margin: 10px 0;
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.img-thumbnail {
  display: block !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.7);
  box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.7);
}
.img-circle, .img-thumbnail {
  //margin-top: 20px !important;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-1 {
  max-width: 100%;
  padding: 20px 0;
  background-color: #DFF1FD;
  //background-image: url('http://www.mateomaneff.com.ar/images/fondo11.jpg');
  //z-index: 1;
  //opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 530px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#s1Parallax1 {
  background: url('http://www.mateomaneff.com.ar/images/parallax1.png') repeat top center;
  height: 1400px;
}
#s1Parallax2 {
  background: url('http://www.mateomaneff.com.ar/images/parallax2.png') repeat top center;
  height: 1400px;
}
.s1Parallax {
  position: absolute;
  width: 100%;
}




/*
.tratamiento-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top, .bottom{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div{
        height: 200px;
        width: 200px;
        background: gray;
    }
}

.tratamiento{
    height: 200px;
    width: 200px;
    background: gray;
}
*/