<div class="" style="height: 400px; margin: 10px 0">
    <div class="row" style="margin: 5px 0">
        <div class="col-md-4">
            <div class="tratamiento mx-auto"></div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="tratamiento mx-auto"></div>
        </div>
    </div>
    <div class="row" style="margin: 5px 0">
        <div class="col-md-4">
            <div class="tratamiento mx-auto"></div>
        </div>
        <div class="col-md-4">
            <div class="tratamiento mx-auto"></div>
        </div>
        <div class="col-md-4">
            <div class="tratamiento mx-auto"></div>
        </div>
    </div>
    <div class="row" style="margin: 5px 0">
        <a  [routerLink]="['/tratamiento']" class="mx-auto">Ver Mas</a>
    </div>
</div>

<!--div class="tratamientos-container">
    <div class="top">
        <div class="tratamiento"></div>
        <div class="tratamiento"></div>
    </div>
    <div class="bottom">
        <div class="tratamiento"></div>
        <div class="tratamiento"></div>
        <div class="tratamiento"></div>
    </div>
    <a  [routerLink]="['/tratamiento']">Ver Mas</a>
</div-->