<!--div class="" style="background-color: #FFFFFF;padding: 20px 0;border-top: 1px solid #007bff"-->
    <div class="container container-1">
        <div id="s1Parallax1" class="s1Parallax" style="top: 0"></div>
        <div id="s1Parallax2" class="s1Parallax" style="top: 0"></div>
        <div class="row" style="margin: 5px 0">
            <h1 class="mx-auto">Tratamientos</h1>
        </div>
        <div class="row" style="margin: 5px 0">
            <div class="col-md-4 col-sm-12 col-12">
                <!--div class="tratamiento mx-auto"></div-->
                <img src="http://www.mateomaneff.com.ar/images/slider/trat-2.jpg" class="img-responsive img-thumbnail">
                <h3 class="mx-auto">CIRUGÍA FACIAL</h3>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <img src="http://www.mateomaneff.com.ar/images/slider/trat-3.jpg" class="img-responsive img-thumbnail">
                <h3 class="mx-auto">CIRUGÍA MAMARIA</h3>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <img src="http://www.mateomaneff.com.ar/images/slider/trat-1.jpg" class="img-responsive img-thumbnail">
                <h3 class="mx-auto">CIRUGÍA CORPORAL</h3>
            </div>
        </div>
        <div class="row" style="margin: 5px 0">
            <div class="col-md-4 col-sm-12 col-12">
                <img src="http://www.mateomaneff.com.ar/images/slider/trat-4.jpg" class="img-responsive img-thumbnail">
                <h3 class="mx-auto">CIRUGÍA REPARADORA</h3>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <img src="http://www.mateomaneff.com.ar/images/slider/trat-5.jpg" class="img-responsive img-thumbnail">
                <h3 class="mx-auto">TRATAMIENTO NO QUIRÚRGICO</h3>
            </div>
        </div>
        <div class="row" style="margin: 5px 0">
            <a  [routerLink]="['/tratamiento']" class="btn btn-primary mx-auto">Ver Mas</a>
        </div>
    </div>
<!--/div-->

<!--div class="tratamientos-container">
    <div class="top">
        <div class="tratamiento"></div>
        <div class="tratamiento"></div>
    </div>
    <div class="bottom">
        <div class="tratamiento"></div>
        <div class="tratamiento"></div>
        <div class="tratamiento"></div>
    </div>
    <a  [routerLink]="['/tratamiento']">Ver Mas</a>
</div-->