@import '../../app.component.scss';

@include breakpoint('medium') {
  .nav-desktop {
    visibility: visible !important;
  }

  .nav-mobile {
    visibility: collapse !important;
    display: none !important;
  }
}

.nav-desktop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: gray;
  height: 60px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 80px auto 80px 80px 80px 80px 80px 80px;
}
