<!--div class="nav-desktop">
    <div>Logo Doctor Blanco</div>
    <div></div>
    <button>Inicio</button>
    <div>Tratamientos
        <div [ngClass]="{'nav-categoria-selected': categoria_caption==el}"></div>
    </div>
    <a [routerLink]="['/principal']" scrollTo  scrollTargetSelector="#noticias" >Noticias</a>
    <button (click)="goTo('/principal', $event)" scrollTargetSelector="#contacto">Contacto</button>
    <button>Ubicación</button>
    <button [routerLink]="['/admin']">Login</button>
</div>

<div class="nav-mobile">

</div-->



<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" style="cursor: pointer;"
            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation" (click)="toggle($event)">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dr. Esteban Blanco<p style="font-size: 12px;margin: 0;">Cirugía Estética y Reparadora</p></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'show': toogle}">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/principal']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/principal']" scrollTo  scrollTargetSelector="#doctor">Dr Blanco</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" [routerLink]="['/principal']" scrollTo  scrollTargetSelector="#tratamientos">Tratamientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/principal']" scrollTo  scrollTargetSelector="#noticias">Noticias</a>
            </li>
            <li class="nav-item">
                <!--a class="nav-link" (click)="goTo('/principal', $event)" scrollTargetSelector="#contacto">Contacto</a-->
                <a class="nav-link" [routerLink]="['/principal']" scrollTo scrollTargetSelector="#contacto">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/principal']" scrollTo  scrollTargetSelector="#ubicacion">Ubicación</a>
            </li>
            <!--li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin']">Login</a>
            </li-->
        </ul>
    </div>
</nav>