<div class="container" style="background-color:#FFFFFF;border: 1px solid #072146;margin-top: 15px;padding: 35px 20px"
     [ngClass]="{'index': showPanel}">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of principal" (click)="select(i)">
                <th scope="row">{{i.principal_id}}</th>
                <td>{{i.titulo}}</td>
                <td style="text-align:center;"><i class="fa fa-pencil" (click)="modificar(i)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container" style="background-color:#FFFFFF;border: 1px solid #072146;margin-top: 15px;padding: 35px 20px"
     [ngClass]="{'panel': showIndex}">
    <form [formGroup]="formPrincipal" novalidate (ngSubmit)="save()" accept-charset="utf-8" action="#" class="simform">
        <div class="form-group">
            <label class="" [ngClass]="{'text-error': formErrors['titulo']}">Titulo {{formErrors['titulo']}}</label>
            <input class="form-control" maxlength="255" id="user-pw" formControlName="titulo"
                   placeholder="Nombre" type="text" size="50" />
        </div>
        <div class="form-group">
            <label class="" [ngClass]="{'text-error': formErrors['detalles']}">Detalle {{formErrors['detalles']}}</label>
            <quill-editor [(ngModel)]="detalles" formControlName="detalles"></quill-editor>
        </div>

        <upload-component [img]='foto' #fotoCtrl></upload-component>

        <div class="">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn btn-default" (click)="index()">Cancelar</button>
        </div>
    </form>
</div>
