@import '../app.component.scss';

// .animationClass{
//   -webkit-animation: fadeinleft 1s ease-in-out;
//   -moz-animation: fadeinleft 1s ease-in-out;
//   -o-animation: fadeinleft 1s ease-in-out;
//   animation: fadeinleft 1s ease-in-out;
// }


@-webkit-keyframes fadeinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }

  90% {
    opacity: .4;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

.principal-container{
  position: relative;
  .principal-background{
    position: absolute;
    top: 600px;
  }
  .principal-section-title{
    margin: 0;
    width: 100%;
    background-color: black;
    font-size: 25px;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
  }

  .principal-disclaimer{
    width: 100%;
    text-align: center;
    color: $accent-1;
    font-weight: 700;
  }
}


#fondo-back {
  //background: url('../../images/sucursales_01.png') top center no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#fondo-middle {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  //background: url('../../images/sucursales_03.png') top center no-repeat;
}

#fondo-front {
  //background: #00fefe url("../../images/sucursales_04.png") top center no-repeat fixed;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.principal-main{
  position: relative;
  background: -webkit-linear-gradient(top, #466946, #d2f373, #466946);
  background: linear-gradient(to bottom, #466946, #d2f373, #466946);
}

.container-1{
  background-color: #eeeeee;
}
.container-2{
  background-color: #FFFFFF;
}

.container-1, .container-2{
  height: 300px;
}
.footer{
  height: 50px;
  background-color: #122C39;
  color:#FFFFFF;
}