<div class="principal-container" style="height: 100%;">

    <section id="slider">
        <div class="row container-1">

        </div>
    </section>
    <section id="tratamientos">
        <div class="row container-2">

        </div>
    </section>
    <section id="noticias">
        <div class="row container-1">

        </div>
    </section>
    <section id="links">
        <div class="row container-2">

        </div>
    </section>
    <section id="contacto">
        <div class="row container-1">

        </div>
    </section>
    <section id="ubicacion">
        <div class="row container-2">

        </div>
    </section>
    <section id="footer">
        <div class="row footer">
            <label>Todos los derechos reservados 2017</label>
        </div>
    </section>
</div>