@import '../../app.component.scss';

h1{
  color: #ffffff;
  line-height: 10px;
}
h3{
  margin: 10px 0;
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
p{
  font-family: 'PT Sans', sans-serif;
  font-size: .8em;
}
.container-1 {
  max-width: 100%;
  padding: 20px 0;
  background-color: #000;
}

