<!--div class="" style="background-color:#EEEEEE; padding: 20px 0;border-top: 1px solid #007bff"-->
    <div class="container" style="background-color:#EEEEEE; padding: 20px 0;border-top: 1px solid #007bff">
        <div class="row" style="margin: 5px 0">
            <h1 class="mx-auto">NOTICIAS</h1>
        </div>
        <div class="row" style="margin: 5px 0">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://www.mateomaneff.com.ar/images/slider/trat-5.jpg" class="img-responsive img-thumbnail">
                    </div>
                    <div class="col-md-6">
                        <h3 class="mx-auto">Como eliminar la Celulitis</h3>
                        <p>En los últimos años, varias técnicas han aparecido con un único objetivo: adelgazar. Sin embargo, sólo unas pocas han sobrevivido, y es que el resultado realmente visible y que éste se conserve en el tiempo, son un difícil test que no han superado la mayoría.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://www.mateomaneff.com.ar/images/slider/trat-5.jpg" class="img-responsive img-thumbnail">
                    </div>
                    <div class="col-md-6">
                        <h3 class="mx-auto">Como eliminar la Celulitis</h3>
                        <p>En los últimos años, varias técnicas han aparecido con un único objetivo: adelgazar. Sin embargo, sólo unas pocas han sobrevivido, y es que el resultado realmente visible y que éste se conserve en el tiempo, son un difícil test que no han superado la mayoría.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 5px 0">
            <a  [routerLink]="['/noticia']" class="btn btn-primary mx-auto">Ver Mas</a>
        </div>
    </div>
<!--/div-->

<!--div class="noticias-container">
    <div class="top">
        <div class="noticia"></div>
        <div class="noticia"></div>
    </div>
    <a  [routerLink]="['/noticia']">Ver Mas</a>
</div-->