<div class="" style="height: 400px; margin: 10px 0">
    <div class="row" style="margin: 5px 0">
        <div class="col-md-6">
            <div class="noticia mx-auto"></div>
        </div>
        <div class="col-md-6">
            <div class="noticia mx-auto"></div>
        </div>
    </div>
    <div class="row" style="margin: 5px 0">
        <a  [routerLink]="['/noticia']" class="mx-auto">Ver Mas</a>
    </div>
</div>

<!--div class="noticias-container">
    <div class="top">
        <div class="noticia"></div>
        <div class="noticia"></div>
    </div>
    <a  [routerLink]="['/noticia']">Ver Mas</a>
</div-->