<div class="container container-1" style="">
    <div class="row" style="margin: 5px 0">
        <h1 class="h1 h1-sm h1-md mx-auto">Noticias</h1>
    </div>
    <div class="row" style="margin: 5px 0">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img src="http://www.mateomaneff.com.ar/images/{{foto_1}}"
                         class="img-responsive img-thumbnail img-animate" (click)="goTo(noticia_1_id)">
                </div>
                <div class="col-md-12">
                    <h3 class="mx-auto" style="text-align: center">{{titulo_1}}</h3>
                    <div [innerHTML]="detalles_1 | keepHtml" style="padding: 20px 40px;text-align: justify;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img src="http://www.mateomaneff.com.ar/images/{{foto_2}}"
                         class="img-responsive img-thumbnail img-animate" (click)="goTo(noticia_2_id)">
                </div>
                <div class="col-md-12">
                    <h3 class="mx-auto" style="text-align: center">{{titulo_2}}</h3>
                    <div [innerHTML]="detalles_2 | keepHtml" style="padding: 20px 40px;text-align: justify;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 5px 0">
        <a  [routerLink]="['/noticia']" class="btn btn-primary mx-auto">Ver Mas</a>
    </div>
</div>
