/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  //font-family: 'Vollkorn SC', serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  //background: #072146 url('http://www.mateomaneff.com.ar/images/slider/footer.png') repeat;
  background-color: #ffffff;
}

h1{ color: #007bff; margin: 15px 0 30px;}

h1{
  //font-family: 'Lora', serif;
  //font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}


.btn-med{
  padding: 5px 25px !important;
  font-size: .9em !important;
  margin: 0 5px;
  cursor: pointer;
}


.back-top {
  //position: fixed;
  //bottom: 20px;
  //right: 20px;
  //margin-bottom: 0;
  //z-index: 999;
  background: #222;
  width: 30px;
  height: 30px;
  line-height: 26px;
  //display: block;
  font-size: 12px;
  text-align: center;
  //text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  outline: 0;
}
a.back-top:hover, a.back-top:active {
  outline: 0;
  background-color: #666;
  text-decoration: none;
  color:#ffffff;
}

