/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  //font-family: 'Vollkorn SC', serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
}

h1{ color: #007bff; }

