/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  //font-family: 'Vollkorn SC', serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  //background: #072146 url('http://www.mateomaneff.com.ar/images/slider/footer.png') repeat;
  background-color: #ffffff;
}

h1{ color: #007bff; margin: 15px 0 30px;}

h1{
  //font-family: 'Lora', serif;
  font-family: 'Lato', sans-serif;
}


.btn-med{
  padding: 5px 25px !important;
  font-size: .9em !important;
  margin: 0 5px;
  cursor: pointer;
}


