
<!--<div id="footer-main">-->


<!--</div>-->
<div id="footer-container">

    <div id="footer-main-image"></div>

    <span class="footer-legend">Distribuidor mayorista y minorista de artículos de cultivo</span>
    <div id="footer-image"><img src="http://bayresnoproblem.com.ar/images/nueva/logo-byres-final-min.png" alt="Bayres No Problem"
                                width="320" height="73" style="margin-top: 20px; margin-bottom: 20px;"></div>
    <div id="footer-links">
        <div class="footer-links-group">
            <span class="footer-links-title">CONSULTAS</span>
            <div id="footer-entrega"><span class="footer-link">Tiempos de Entrega</span></div>
            <div id="footer-pago"><span class="footer-link">Cómo Pago</span></div>
        </div>
        <div class="footer-links-group">
            <span class="footer-links-title">LEGALES</span>
            <div id="footer-uso"><span class="footer-link">Términos y condiciones</span></div>
        </div>
        <div class="footer-links-group">
            <span class="footer-links-title">CONTACTO</span>
            <div id="footer-mail"><span class="footer-link">Contacto</span></div>
        </div>
    </div>
    <div id="footer-copyright"><a href="http://ac-desarrollos.com">AC Desarrollos - 2017</a></div>
</div>

