<div class="" style="background-color: #072146; color:#FFFFFF;">
    <div class="container" style="padding: 15px 0">
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-md-10 col-sm-12 col-12">
                <p>Copyright 2017 - Todos los derechos reservados</p>
            </div>
            <div class="col-md-1 col-sm-6 col-6" style="text-align: center">
                <a href="" title="Facebook" ><img src="http://www.mateomaneff.com.ar/images/if_facebook_2.png" height="30"></a>
            </div>
            <div class="col-md-1 col-sm-6 col-6" style="text-align: center">
                <a href="" title="Twitter" ><img src="http://www.mateomaneff.com.ar/images/if_twitter_2.png" height="30"></a>
            </div>
        </div>
    </div>
</div>
