@import '../../app.component.scss';

$scroll-factor: .5;

#footer-main-image {
  height: 100%;
  background-size: auto;
  background-position: center center;
  vertical-align: top;
  transform-origin: center top;
  transform: translateZ(-#{$scroll-factor * 2}px) scale(1 + $scroll-factor * 2);
  /* The image used */
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;

  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

#footer-container {
  //margin-top: -250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .footer-legend {
    text-align: center;
    color: $accent-2;
    background-color: black;
  }

  #footer-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(white, 0.3);

    img {
      max-width: 360px;
    }
  }

  #footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: rgba(white, 0.3);

    @include breakpoint('medium') {
      flex-direction: row;
      align-items: flex-start;
    }

    .footer-links-group {
      margin: 0 10px 0 10px;
      text-align: center;
      @include breakpoint('medium') {
        text-align: left;
      }

    }

  }

  .footer-links-title {
    font-size: 1.2em;
    font-weight: 700;
    .footer-link {
      color: darkslategray;
    }
  }

  #footer-copyright {
    width: 100%;
    text-align: center;
    color: $accent-2;
    background-color: black;
    a {
      font-size: 16px;
    }

  }
}

:host {
  //height: 250px;
  //max-height: 250px;
  //max-width: 100%;
  //overflow-x: hidden;
  //position: relative;

}
